<a href="https://colab.research.google.com/github/mohanrajofficial87/Data-Analysis/blob/master/Pandas_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas Basics

In [0]:
#Reading Iris Dataset
import pandas as pd #Python Data Analysis Library 
import numpy as np #Python Scientific Library 

#Link to get the Iris Dataset
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
#Defining Column names
new_names = ['sepal_length','sepal_width','petal_length','petal_width','iris_class']
#Reading the dataset using url
dataset = pd.read_csv(url, names=new_names, skiprows=0, delimiter=',')

Getting information on the dataset

In [3]:
#Way of storing data
type(dataset)

pandas.core.frame.DataFrame

In [2]:
#Getting first 5 rows of the dataset
dataset.head()

   sepal_length  sepal_width  petal_length  petal_width   iris_class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
#Basic info on the dataset (Column & Type)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
iris_class      150 non-null object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [5]:
#Getting summary statistics about the numberic columns in the data
dataset.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

Methods of Slicing the dataset

In [6]:
#Indexing

#Selecting 4nd row (In python number index starts from 0)
#iloc - Integer location
dataset.iloc[3]

sepal_length            4.6
sepal_width             3.1
petal_length            1.5
petal_width             0.2
iris_class      Iris-setosa
Name: 3, dtype: object

In [8]:
#Using loc
dataset.loc[0:4, ['sepal_length', 'iris_class']]

   sepal_length   iris_class
0           5.1  Iris-setosa
1           4.9  Iris-setosa
2           4.7  Iris-setosa
3           4.6  Iris-setosa
4           5.0  Iris-setosa

Slicing with condition

In [11]:
#Using column names
dataset[dataset['petal_length'] > 6]

     sepal_length  sepal_width  petal_length  petal_width      iris_class
105           7.6          3.0           6.6          2.1  Iris-virginica
107           7.3          2.9           6.3          1.8  Iris-virginica
109           7.2          3.6           6.1          2.5  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica
118           7.7          2.6           6.9          2.3  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
130           7.4          2.8           6.1          1.9  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica

In [13]:
#Using query
dataset.query('petal_length > 6')

     sepal_length  sepal_width  petal_length  petal_width      iris_class
105           7.6          3.0           6.6          2.1  Iris-virginica
107           7.3          2.9           6.3          1.8  Iris-virginica
109           7.2          3.6           6.1          2.5  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica
118           7.7          2.6           6.9          2.3  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
130           7.4          2.8           6.1          1.9  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica

In [14]:
#Multiple Condition
dataset[(dataset.petal_width < 2) & (dataset.sepal_length > 7)]

#Same as
# dataset[(dataset['petal_width'] < 2) & (dataset['sepal_length'] > 7)]
# dataset.query('(petal_width < 2) & (sepal_length > 7)']

     sepal_length  sepal_width  petal_length  petal_width      iris_class
107           7.3          2.9           6.3          1.8  Iris-virginica
125           7.2          3.2           6.0          1.8  Iris-virginica
129           7.2          3.0           5.8          1.6  Iris-virginica
130           7.4          2.8           6.1          1.9  Iris-virginica